/*Global Variables*/
:root {
    --main-color: #10cab7;
    --section-background: #f6f6f6;
    --secondary-color: #2c4755;
    --section-padding: 60px;
}
/*End Variables*/
/*Start Of Global Rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
.header {
    background-color: #eeee;
}
/*Small Screens*/
@media (min-width:768px) {
    .container {
        width: 756px;
    }
}
/*Medium Screens*/
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/*Large Screens*/
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/*End Of Global Rules*/
/*Start Components*/
.special-heading {
    color: #d9dadb;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p {
    color: #797979;
    font-size: 20px;
    text-align: center;
    margin: -30px 0 0;
    font-weight: 300;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 80px;
    }
}
/*End Components*/
/*Start Header*/
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
.header .logo {
    width: 80px;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    position: absolute;
    top: -8px;
    right: 0px;
    width: 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 65%;
    transition: 1s;
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links ul {
    display: none;
    position: absolute;
    right: 0px;
    top: calc(100% + 25px);
    list-style: none;
    background-color: #f6f6f6;
    min-width: 200px;
    padding: 0;
    margin: 0;
    z-index: 1;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    color: #6e6e6e;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 300;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 2px solid #ddd;
}
.header .links ul::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 5px;
    border-color: transparent transparent #f6f6f6 transparent;
    border-style: solid;
    border-width: 10px;
}
/*End Header*/
/*Start Landing*/
.landing {
    position: relative;
    background-image: url('../images/Mountain_Background.jpeg');
    background-size: cover;
    height: calc(100vh - 64px);
}
.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}
.landing p {
    font-size: 20px;
    line-height: 1.8;
    font-weight: 300;
}
/*End Landing*/
/*Start Features*/
.features {
    background-color: var(--bkground-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.features .container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0 auto;
}
.features .container .feat {
    padding: 20px;
}
.features .container .feat i {
    color: var(--main-color);
}
.features .container .feat h3 {
    font-weight: 800;
    font-size: 19px;
}
.features .container .feat p {
    line-height: 1.8;
    font-weight: 300;
}
/*End Features*/
/*Start Services*/
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 100px;
    grid-gap: 40px;
}
.services .services-content .col .image img {
    width: 265px;
}
.services .services-content .col .image {
    position: relative;
    text-align: center;
}
@media (max-width: 1199px) {
    .services .services-content .col .image {
        display: none;
}
}
.services .services-content .col .image::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    z-index: -1;
}
.services .services-content .srv i {
    color: var(--main-color);
}
.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}
.services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
    padding-bottom: 10px;
}
/*End Services*/
/*Start Portfolio*/
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
}
.portfolio .portfolio-content .card .info {
    padding: 25px;
}
.portfolio .portfolio-content .card h3 {
    margin: 0;
}
.portfolio .portfolio-content .card p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
/*End Portfolio*/
/*Start About*/
.about {
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.about .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.about .about-content {
    display: flex;
    padding-top: 60px;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
.about .about-content {
    flex-direction: column;
    text-align: center;
    }
}
.about .about-content img {
    max-width: 100%;
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
    z-index: 1;
}
@media (max-width: 991px) {
.about .about-content .image {
    margin: 0 auto 60px;
    }
}
.about .container .about-content .image::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -35px;
    background-color: #ebeced;
    width: 120px;
    height: calc(100% + 100px);
    z-index: -1;
}
.about .container .about-content .image::after {
    content: "";
    position: absolute;
    top: -50px;
    right: -150px;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
}
@media (max-width: 991px) {
    .about .container .about-content .image::before,
    .about .container .about-content .image::after {
    display: none;
    }
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
    font-weight: 300;
    line-height: 2;
    color: #777;
}
/*End About*/
/*Start Contact*/
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 200;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
    font-size: 25px;
    }
}
/*End Contact*/
/* Start Footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}
/*End Footer*/